#Menu-h li{
    padding: 40px;
    display: inline-block;
}

#Menu-h li a {
    color: hsl(120, 92%, 43%);
    text-decoration: none;
    text-decoration-color: cyan;
}

#Menu-h li :hover {
    background-color:#1c20e7;

}
h1{
    margin: 0%;
}

